hr {
  border-color: #ffeb3b;
  border-width: 3px;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: inherit;
}

.card-description {
  color: #555;
  margin-bottom: 15px;
}
