.home-image {
  background-image: url("../img/achtergrond-limoncello.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 48rem; /* Set the height to cover the entire viewport */
}

.title-font {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
}

.subtitle-font {
  font-family: "Pacifico", cursive;
}

.home-logo {
  height: 10rem;
  border-radius: 5rem;
}
