.custom-link {
  position: relative;
  text-decoration: none;
  color: black; /* Link color */
}

.custom-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Underline thickness */
  bottom: 0;
  left: 0;
  background-color: #ffeb3b; /* Underline color */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out; /* Animation duration and easing */
}

.custom-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.lemon-yellow {
  background-color: #ffeb3b;
  color: #000000;
  /* Add any other styles as needed */
}

.navbar-font {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
}

.navbar-info {
  padding-top: 10px; /* Pas aan naar wens */
  padding-bottom: 10px; /* Pas aan naar wens */
  margin-bottom: 0; /* Pas aan naar wens */
}

.row {
  margin-left: 0;
  margin-right: 0;
}
