.footer-container {
  background-color: #ffeb3b;
}

.footer-image {
  height: 5rem;
  border-radius: 50%;
}

.footer-bottles {
  background-image: url("../img/flessen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 42rem; /* Set the height to cover the entire viewport */
}
